<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.slider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.PurchaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.InstrucTwoActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.LogActivity" />
        <activity android:name=".activity.InstructionActivity3" />
        <activity android:name=".activity.InsertActivity" />
        <activity android:name=".activity.Pin" />
        <activity android:name=".activity.SetPin" />
        <activity android:name=".activity.Home" />
        <activity android:name=".activity.InstructionAVI" />
        <activity android:name=".activity.PurchaseActivity1" />
        <activity android:name=".activity.SippingActivity" />
        <activity android:name=".activity.Card" />
        <activity android:name=".activity.Blog" />
        <activity
            android:name=".activity.Yes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ForgotPin" />
        <activity android:name=".activity.OTP" />
        <activity android:name=".activity.AuthenticationLogin" />
        <activity android:name=".activity.LogFinal" />
        <activity android:name=".activity.Slider2" />
        <activity android:name=".activity.RegisteredDeviceSrc" />
        <activity
            android:name=".activity.ManageSelfProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ManageChildProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CreateChild" />
        <activity
            android:name=".activity.HealthMone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.StartTretment" />
        <activity android:name=".activity.MainTreatmentScreen" />
        <activity android:name=".activity.TreatmentResult" />
        <activity android:name=".activity.PurchaseCart" />
        <activity android:name=".activity.SippingActivity2" />
        <activity
            android:name=".activity.PaymentAsk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TretmentuserConfirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.NewOrExistingUser"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>